shamefully-hoist=true
node-linker=hoisted

# Native 애드온 빌드를 위한 설정
strict-peer-dependencies=false
resolution-mode=highest

# 사설 레지스트리 설정
@metamorp:registry=http://3.39.10.72:51207/

//3.39.10.72:51207/:always-auth=true

//3.39.10.72:51207/:_auth=bGlhbTpFRFdTcWExMiFA
